@font-face{
font-family: "AvenirNextCyr";
src: url(../fonts/AvenirNextCyr-Medium.eot);
font-weight: 500;
}

@font-face{
font-family: "AvenirNextCyrDemi";
src: url(../fonts/AvenirNextCyr-Demi.eot);
font-weight: 300;
}

@font-face{
font-family: "AvenirNextCyrHevy";
src: url(../fonts/AvenirNextCyr-Heavy.eot);
font-style: normal; 
font-weight: 800;
}
@font-face{
    font-family: "SourceSansPro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.ttf);
 }

       
    